* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #000000;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  color: #ffffff;
}

button {
  width: 225px;
  height: 42px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-size: 30px;
  background-color: #aec346;
  box-shadow: 0 0 30px #aec346;
  color: #ffffff;
  margin-top: 30px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 30px;
}

.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.input-min,
.input-max {
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 10px;
  text-align: center;
}

p {
  color: #ffffff;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
}

img {
  width: 250px;
  transform: scale(1.25);
  animation: balanco 7s linear infinite;
}

@keyframes balanco {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 800px) {
  img {
    width: 50%;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .box-2 {
    gap: 10px;
  }

  p {
    font-size: 60px;
    margin-top: 30px;
  }
}
